#title {
    font-size: 30px;
}

#display {
    font-size: 60px;
    margin-top: 40px;
    margin-left: 20px;
}

.buttons {
    margin-top: 40px;
}

#start {
    padding:10px 20px; 
}

#stop {
    padding:10px 20px; 
}

#reset {
    padding:10px 20px; 
}